@import "tailwindcss";
@import "uniwind";

@theme {
  --color-light-accent: oklch(0.8339 0.0821 351.07);
  --color-light-gray: oklch(0.6483 0.0073 286.19);
  --color-light-text: oklch(0.2038 0.0132 233.32);
  --color-light-background: oklch(1 0 0);
  --color-light-tint: oklch(0.5547 0.1066 228.5);
  --color-light-icon: oklch(0.5404 0.0135 240.09);
  --color-light-border: oklch(0.752 0.0057 286.26);
  --color-dark-accent: oklch(0.7707 0.1527 355.74);
  --color-dark-gray: oklch(0.6483 0.0073 286.19);
  --color-dark-text: oklch(0.9456 0.0017 247.84);
  --color-dark-background: oklch(0.2029 0.0037 229);
  --color-dark-tint: oklch(1 0 0);
  --color-dark-icon: oklch(0.7057 0.01 242.9);
  --color-dark-border: oklch(0.5007 0.0047 286.23);
}
